.cardCon{
	width: 17rem;
	img{
		width: 17rem;
		object-fit: cover;
		height: 200px;
		margin-bottom: 0;
	}
	&__details{
		padding: 0.8rem 0.75rem;
		line-height: 5px;
		background-color: #313131;
		margin-top: -4px;
		width: 17rem;
	}
	&__title{
		margin-top: 0;
		font-weight: 500;
		line-height: 20px;

	}
	&__rating{
		font-weight: 500;
	}
}